
@import "color";
@import 'images';


.zipInput {

	.label { 
		background-color: $lightgrey;
		color: $darkbluegrey;
	}

	input, .btn {
		margin-top: 2px;
		margin-left: 10px;
	}

	input[text] {
		color: $darkbluegrey;
	}

	.btn {
		margin-top: 5px;
		outline: none;
	}
}

#currentOutput {
	.btn {
		margin-left: 5px;
	}
}

#sevenDayForecast {
	
	margin-top: 25px;
}



