
@import "color";
@import 'images';

body {
	background-color: $background;
}


h1 {
	
	text-align: center;
}


.zipInput {

	.label { 
		background-color: $background;
		color: $darkbluegrey;
	}

	input, .btn {
		margin-top: 2px;
		margin-left: 10px;
	}

	input[text] {
		color: $darkbluegrey;
	}

	.btn {
		margin-top: 5px;
		outline: none;
	}
}


#currentOutput {

	.btn {
		margin-left: 5px;
	}

	li {
	 list-style-type: none;
	}
}


#todayForecast {

	li {
		list-style-type: none;
	}
}


#threeDayForecast, #sevenDayForecast {
	
	margin-top: 25px;
	padding-top: 10px;

}


#forecastOutput {
	
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
}


table {
	
	border: 1px solid $border-divider;

	thead {
		border-top: 1px solid $border-divider;
		background-color: $lightgrey;
	}
}

