
@import "color";
@import "fonts";

body {
	background-size: cover;
	background-image: url("/images/background.jpeg");
	font: 100% $font-stack;
	max-width: 100%;
}


#social-media-icons {

	margin-left: 20px;
	margin-top: 5%;

	img {
		padding-left: 10px;
	}
}


.navbar {

	li {
		font-size: 1.5em;
	}

	.navbar-brand {
		color: $brandColor;
	}

	#today, #threeDay, #sevenDay, #clearAll {
		color: $background;
	}

	#viewSaved {
		color: $viewSavedColor;
	}

	#logoutButton {
		margin-top: 12px;
		margin-right: 10px;
	}
}


#login-container {

	margin-top: 10%;

	h1 {
	margin-bottom: 25px;
	text-align: center;
	}
}




.zipInput {

	.label { 
		background-color: $background;
		color: $darkbluegrey;
		font-size: 1.5em;
		bont-weight: 900;
	}

	input {
		color: $darkbluegrey;
		font-size: 2em;
	}

	input, .btn {
		margin-left: 10px;
	}

	.btn {
		margin-top: 5px;
		outline: none;
	}
}


#currentOutput {

	margin-top: 1%;

	.btn {
		margin-left: 5px;
	}

	margin-left: 8%;
	font-size: 1.8em;

	.currentWeatherHead {

		font-size: 1.8em;
		font-weight: 900;
	}

	li {
	 list-style-type: none;
	}
}



#forecastOutput {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}


table {
	
	border: 1px solid $border-color;

	thead {
		background-color: $table-header;
	}
}

