body {
  background: url("./images/skyBackground.jpg") no-repeat center center fixed; }

body {
  background-color: #D3E0ED; }

.zipInput .label {
  background-color: #D3E0ED;
  color: #566D75; }

.zipInput input, .zipInput .btn {
  margin-top: 2px;
  margin-left: 10px; }

.zipInput input[text] {
  color: #566D75; }

.zipInput .btn {
  margin-top: 5px;
  outline: none; }

#currentOutput .btn {
  margin-left: 5px; }

#currentOutput li {
  list-style-type: none; }

#todayForecast li {
  list-style-type: none; }

#threeDayForecast, #sevenDayForecast {
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px solid #99B2CC; }
